@import url("https://fonts.googleapis.com/css2?family=Chewy&family=DynaPuff:wght@400..700&family=Playwrite+AU+NSW:wght@100..400&display=swap");
.App {
  width: 100%;
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card:hover {
  padding: 10px 2px;
  cursor: pointer;
  transition: all ease 0.5s;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
}
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
.chewy-regular {
  font-family: "Chewy", system-ui;
  font-weight: 400;
  font-style: normal;
}
